/* ---------------------------------------- Footer styles ---------------------------------------- */
.footer {
    background-color: var(--vino-color);
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.footer-container {
    padding: 0.8rem;
}

.footer-container__p {
    color: var(--light-color);
    font-family: "Figtree", "Tahoma";
    text-align: center;
}